In [3]:
import pandas as pd
df = pd.read_csv('Employee.csv')
df.head()
df.shape

(4653, 9)

In [7]:
blr_emp_df = df[df['City'] == 'Bangalore']
print(blr_emp_df.head())
print(blr_emp_df.shape)
blr_emp_df.to_csv('blr.csv')

    Education  JoiningYear       City  PaymentTier  Age  Gender EverBenched  \
0   Bachelors         2017  Bangalore            3   34    Male          No
3     Masters         2016  Bangalore            3   27    Male          No
5   Bachelors         2016  Bangalore            3   22    Male          No
7   Bachelors         2016  Bangalore            3   34  Female          No
10    Masters         2012  Bangalore            3   27    Male          No

    ExperienceInCurrentDomain  LeaveOrNot
0                           0           0
3                           5           1
5                           0           0
7                           2           1
10                          5           1
(2228, 9)

In [9]:
blr_aunty_df = df[(df['City'] == 'Bangalore') & 
                  (df['Gender'] == 'Female') & (df['Age'] > 30)]
print(blr_aunty_df.head())
print(blr_aunty_df.shape)
blr_aunty_df.to_csv('blr_aunty.csv')

    Education  JoiningYear       City  PaymentTier  Age  Gender EverBenched  \
7   Bachelors         2016  Bangalore            3   34  Female          No
16  Bachelors         2014  Bangalore            3   34  Female          No
52  Bachelors         2016  Bangalore            3   34  Female          No
53  Bachelors         2014  Bangalore            3   31  Female         Yes
69    Masters         2017  Bangalore            3   40  Female          No

    ExperienceInCurrentDomain  LeaveOrNot
7                           2           1
16                          2           0
52                          0           0
53                          5           0
69                          2           1
(222, 9)